# Fichiers sources et config
.vscode/**
.vscode-test/**
src/**
node_modules/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
tsconfig.json
eslint.config.mjs
**/*.map
**/*.ts

# Fichiers de test
out/test/**

# ON FORCE L'INCLUSION DES ÉLÉMENTS INDISPENSABLES
!out/
!out/extension.js
!out/gitlabProvider.js
!package.nls.json
!package.nls.*.json
!icon.png